@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
@import "@finance-app/theme/src/theme.css";
@import "tailwindcss";
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;
