@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "../styles/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
